In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display, HTML

########### Question 1 ###########
# Generate Data

# is this fine? or do i need to generate my own distribution?
def datagen(mvec,cov,n):
    return np.random.multivariate_normal(mvec,cov,n)

In [2]:
# load mean vectors + covariance matrix
data1 = pd.read_csv('hwk2_datasets/DS1_m_0.txt', sep=",", header=None)
data2 = pd.read_csv('hwk2_datasets/DS1_m_1.txt', sep=",", header=None)
data3 = pd.read_csv('hwk2_datasets/DS1_Cov.txt', sep=",", header=None)

#df1 = pd.DataFrame(data1)
#df2 = pd.DataFrame(data2)
#df3 = pd.DataFrame(data3)
#display(df1)
#display(df2)
#display(df3)

ms0 = data1.values
ms0 = np.delete(ms0,-1,1)
ms0 = np.squeeze(ms0)
ms1 = data2.values
ms1 = np.delete(ms1,-1,1)
ms1 = np.squeeze(ms1)
cov = data3.values
cov = np.delete(cov,-1,1)

negative = datagen(ms0,cov,2000)
positive = datagen(ms1,cov,2000)


# label as negative or positive (negative = -1000, positive = 1000)
nlabel = np.full((negative.shape[0],1),-1000)
plabel = np.full((positive.shape[0],1),1000)

negative = np.hstack((negative, nlabel))
positive = np.hstack((positive, plabel))

In [3]:
# separate training and test sets
np.random.shuffle(negative)
np.random.shuffle(positive)

DS1_train = np.concatenate((negative[300:],positive[300:]))
DS1_test = np.concatenate((negative[0:300],positive[0:300]))

np.savetxt("hwk2_datasets/DS1/DS1_train.csv",DS1_train,delimiter=",")
np.savetxt("hwk2_datasets/DS1/DS1_test.csv",DS1_test,delimiter=",")

In [4]:
########### Question 2 ###########
## LDA

# load data
data1 = pd.read_csv("hwk2_datasets/DS1/DS1_train.csv", header=None)
data2 = pd.read_csv("hwk2_datasets/DS1/DS1_test.csv", header=None)

train = data1.values
test = data2.values

np.random.shuffle(train)
np.random.shuffle(test)

# x and y values
x_train = train[:,0:-1]
y_train = train[:,-1]
x_test = test[:,0:-1]
y_test = test[:,-1]

In [5]:
# LDA analysis
# determine P(y1), P(y2), mean1, mean2, and covariance

# P(y)
pneg = y_train[y_train < 0].size / y_train.size
ppos = y_train[y_train > 0].size / y_train.size

# means
mneg = np.mean(x_train[np.where(y_train < 0)], axis=0)
mpos = np.mean(x_train[np.where(y_train > 0)], axis=0)

# covariance
cneg = np.divide(np.matmul(np.subtract(x_train[np.where(y_train < 0)], mneg).T,np.subtract(x_train[np.where(y_train < 0)], mneg)),(x_train.shape[0]))
cpos = np.divide(np.matmul(np.subtract(x_train[np.where(y_train > 0)], mpos).T,np.subtract(x_train[np.where(y_train > 0)], mpos)),(x_train.shape[0]))
tcov = np.add(cneg,cpos)

mresults_LDA = np.array((mneg,mpos))
df = pd.DataFrame(mresults_LDA)
df.index = ['Neg Mean', 'Pos Mean']
display(df)

cresults_LDA = np.array(tcov)
df = pd.DataFrame(cresults_LDA)
print('Covariance:')
display(df)

# save coefficients
name = 'hwk2_datasets/DS1/m0.csv'
np.savetxt(name, mneg, delimiter=',')

name = 'hwk2_datasets/DS1/m1.csv'
np.savetxt(name, mpos, delimiter=',')

name = 'hwk2_datasets/DS1/cov.csv'
np.savetxt(name, tcov, delimiter=',')

# decision on test dataset
decision_test = np.log(pneg) - np.log(ppos) - 0.5*np.matmul((np.matmul(mneg.T,np.linalg.inv(tcov))),mneg) + 0.5*np.matmul((np.matmul(mpos.T,np.linalg.inv(tcov))),mpos) + np.matmul(np.matmul(x_test,np.linalg.inv(tcov)),np.subtract(mneg,mpos))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Neg Mean,1.200381,1.222134,1.244864,1.236445,1.217314,1.218510,1.229136,1.208479,1.163539,1.127308,1.250436,1.207361,1.148770,1.213375,1.246182,1.208585,1.198521,1.213960,1.214786,1.182404
Pos Mean,1.981733,1.990675,1.937990,1.967666,1.951361,1.944891,1.953347,1.953478,1.919431,1.937563,1.962051,1.946624,1.955108,1.912755,1.951042,1.900851,1.931138,1.924119,1.955434,1.964000

Covariance:

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,7.845896,5.422892,6.008124,5.097246,5.789139,5.966383,4.553369,5.211193,4.930313,5.052814,3.973768,5.116172,6.987024,5.916429,5.953265,5.759561,5.732652,5.580400,5.487698,5.881051
1,5.422892,6.776778,5.161756,4.256156,5.359430,5.370520,4.205543,3.845555,4.070947,4.994751,3.400643,4.524816,5.841195,5.128282,5.278244,5.113139,5.486746,5.094080,5.290957,5.306923
2,6.008124,5.161756,7.009250,4.642432,5.579949,6.320089,4.432825,4.572150,4.706944,4.829548,3.175050,4.494024,6.189073,4.972377,5.839502,5.637322,5.970761,4.785694,4.564584,4.896926
3,5.097246,4.256156,4.642432,5.662065,5.161999,4.318442,3.615764,4.250616,3.290579,4.093267,2.723050,4.077240,5.782078,4.724202,4.627860,4.891139,4.517787,4.479348,3.879767,5.722073
4,5.789139,5.359430,5.579949,5.161999,6.874874,5.198767,4.827946,4.192275,4.548388,5.017332,4.056021,4.872190,6.189474,5.787126,5.763300,5.904290,5.713400,5.110687,5.254841,5.719654
5,5.966383,5.370520,6.320089,4.318442,5.198767,6.463593,4.249003,4.637304,4.592559,5.129166,2.917929,4.620851,6.215585,4.813736,5.546893,5.683516,5.688210,4.817842,4.611012,5.071003
6,4.553369,4.205543,4.432825,3.615764,4.827946,4.249003,4.953383,3.674059,3.794101,4.160437,2.924877,4.160643,4.584280,3.982388,4.447595,4.930337,4.118143,3.565148,4.394619,3.784363
7,5.211193,3.845555,4.572150,4.250616,4.192275,4.637304,3.674059,5.690607,3.400495,4.636691,2.449275,4.634923,5.954406,4.977791,4.675953,5.845484,4.325344,4.714732,4.639804,4.420491
8,4.930313,4.070947,4.706944,3.290579,4.548388,4.592559,3.794101,3.400495,4.852776,4.540108,3.087134,3.943633,5.033400,4.524368,4.721875,4.877974,4.956833,3.969928,4.091324,4.026620
9,5.052814,4.994751,4.829548,4.093267,5.017332,5.129166,4.160437,4.636691,4.540108,7.016234,3.296339,4.555389,6.726155,5.043347,4.772666,5.691904,4.607543,5.193694,4.381729,5.307445
10,3.973768,3.400643,3.175050,2.723050,4.056021,2.917929,2.924877,2.449275,3.087134,3.296339,3.379632,2.862244,3.770079,3.907988,3.513324,3.504770,3.554028,3.211987,3.705021,3.509162
11,5.116172,4.524816,4.494024,4.077240,4.872190,4.620851,4.160643,4.634923,3.943633,4.555389,2.862244,5.081957,5.865637,4.909697,4.632625,5.322767,4.868062,4.759900,4.875206,4.460681
12,6.987024,5.841195,6.189073,5.782078,6.189474,6.215585,4.584280,5.954406,5.033400,6.726155,3.770079,5.865637,8.966134,6.243831,6.109492,6.398207,5.906823,6.263115,5.819993,7.281304
13,5.916429,5.128282,4.972377,4.724202,5.787126,4.813736,3.982388,4.977791,4.524368,5.043347,3.907988,4.909697,6.243831,6.865518,5.725845,5.995947,5.580059,5.539019,5.845449,5.513714
14,5.953265,5.278244,5.839502,4.627860,5.763300,5.546893,4.447595,4.675953,4.721875,4.772666,3.513324,4.632625,6.109492,5.725845,6.678131,6.797669,5.607596,4.996362,5.304228,5.585191
15,5.759561,5.113139,5.637322,4.891139,5.904290,5.683516,4.930337,5.845484,4.877974,5.691904,3.504770,5.322767,6.398207,5.995947,6.797669,8.823487,5.591413,5.705162,5.432618,5.771142
16,5.732652,5.486746,5.970761,4.517787,5.713400,5.688210,4.118143,4.325344,4.956833,4.607543,3.554028,4.868062,5.906823,5.580059,5.607596,5.591413,6.495417,5.054331,5.191899,4.895044
17,5.580400,5.094080,4.785694,4.479348,5.110687,4.817842,3.565148,4.714732,3.969928,5.193694,3.211987,4.759900,6.263115,5.539019,4.996362,5.705162,5.054331,5.859172,4.774845,5.157651
18,5.487698,5.290957,4.564584,3.879767,5.254841,4.611012,4.394619,4.639804,4.091324,4.381729,3.705021,4.875206,5.819993,5.845449,5.304228,5.432618,5.191899,4.774845,6.233713,4.928344
19,5.881051,5.306923,4.896926,5.722073,5.719654,5.071003,3.784363,4.420491,4.026620,5.307445,3.509162,4.460681,7.281304,5.513714,5.585191,5.771142,4.895044,5.157651,4.928344,7.915430

In [6]:
# test
decision_test[decision_test > 0] = 1
decision_test[decision_test < 0] = -1
decision_test[decision_test == 1] = -1000
decision_test[decision_test == -1] = 1000

y_tp = np.array(y_test)
y_tp[y_tp == 1000] = 5000
results_tp = y_tp - decision_test

y_fp = np.array(y_test)
y_fp[y_fp == 1000] = 0
results_fp = y_fp - decision_test

y_tn = np.array(y_test)
y_tn[y_tn == -1000] = -5000
results_tn = y_tn - decision_test

y_fn = np.array(y_test)
y_fn[y_fn == -1000] = 0
results_fn = y_fn - decision_test

In [7]:
# error measures

tp = (results_tp == 4000).sum(axis=0)
fp = (results_fp == -2000).sum(axis=0)
tn = (results_tn == -4000).sum(axis=0)
fn = (results_fn == 2000).sum(axis=0)

accuracy = (tp + tn) / (tp + fp + tn + fn)
precision = tp / (tp + fp)
recall = tp / (tp + fn)
f1 = fp / (fp + tn)

results = np.array((tp,fp,tn,fn,accuracy,precision, recall, f1))
df = pd.DataFrame(results)
df.columns = ['LDA']
df.index = ['tp','fp','tn','fn','accuracy','precision', 'recall','f1']
display(df)

291 18 282 9

                  LDA
tp         291.000000
fp          18.000000
tn         282.000000
fn           9.000000
accuracy     0.955000
precision    0.941748
recall       0.970000
f1           0.060000

In [8]:
########### Question 3 ###########
## kNN

# load data
data1 = pd.read_csv("hwk2_datasets/DS1/DS1_train.csv", header=None)
data2 = pd.read_csv("hwk2_datasets/DS1/DS1_test.csv", header=None)

train = data1.values
test = data2.values

np.random.shuffle(train)
np.random.shuffle(test)

# x and y values
x_train = train[:,0:-1]
y_train = train[:,-1]
x_test = test[:,0:-1]
y_test = test[:,-1]

In [9]:
# distance function
def distance(x0, x):
    return np.sqrt(np.sum(np.square(x-x0)))

In [10]:
# kNN
knum_list = [1,3,5,9,15]  # k nearest neighbours list
test_results = np.empty(shape=(len(knum_list),600))

for n in range(len(knum_list)):
    knum = knum_list[n]
    y_list = []
    for i in range(x_test.shape[0]):
        current = x_test[i]
        y_slist = []
        min_index = []
        index = 0

        for j in range(knum):
            dtemp = 1000
            for k in range(x_train.shape[0]):
                if k in min_index:
                    continue

                d = distance(current,x_train[k])

                if dtemp > d:
                    dtemp = d
                    index = k
                    continue

            min_index.append(index)
            y_slist.append(y_train[index])

        num = sum(y_slist)
        if num > 0:
            y_list.append(1000)
        else:
            y_list.append(-1000)
    
    y_list = np.array(y_list)
    test_results[n] = y_list

In [11]:
# test
results_tp = np.empty(shape=(len(knum_list),600))
results_fp = np.empty(shape=(len(knum_list),600))
results_tn = np.empty(shape=(len(knum_list),600))
results_fn = np.empty(shape=(len(knum_list),600))

for i in range(len(knum_list)):
    y_tp = np.array(y_test)
    y_tp[y_tp == 1000] = 5000
    results_tp[i] = y_tp - test_results[i]

    y_fp = np.array(y_test)
    y_fp[y_fp == 1000] = 0
    results_fp[i] = y_fp - test_results[i]

    y_tn = np.array(y_test)
    y_tn[y_tn == -1000] = -5000
    results_tn[i] = y_tn - test_results[i]

    y_fn = np.array(y_test)
    y_fn[y_fn == -1000] = 0
    results_fn[i] = y_fn - test_results[i]

In [12]:
# error measures
tp = []
fp = []
tn = []
fn = []

accuracy = []
precision = []
recall = []
f1 = []

for i in range(len(knum_list)):
    tp.append((results_tp[i] == 4000).sum(axis=0))
    fp.append((results_fp[i] == -2000).sum(axis=0))
    tn.append((results_tn[i] == -4000).sum(axis=0))
    fn.append((results_fn[i] == 2000).sum(axis=0))

    accuracy.append((tp[i] + tn[i]) / (tp[i] + fp[i] + tn[i] + fn[i]))
    precision.append(tp[i] / (tp[i] + fp[i]))
    recall.append(tp[i] / (tp[i] + fn[i]))
    f1.append(fp[i] / (fp[i] + tn[i]))

results = np.array((tp,fp,tn,fn,accuracy,precision,recall,f1))
df = pd.DataFrame(results)
df.columns=['k=1','k=3','k=5','k=9','k=15']
df.index=['tp','fp','tn','fn','accuracy','precision','recall','f1']
display(df)

                  k=1         k=3         k=5         k=9        k=15
tp         163.000000  150.000000  165.000000  156.000000  166.000000
fp         154.000000  149.000000  145.000000  145.000000  146.000000
tn         146.000000  151.000000  155.000000  155.000000  154.000000
fn         137.000000  150.000000  135.000000  144.000000  134.000000
accuracy     0.515000    0.501667    0.533333    0.518333    0.533333
precision    0.514196    0.501672    0.532258    0.518272    0.532051
recall       0.543333    0.500000    0.550000    0.520000    0.553333
f1           0.513333    0.496667    0.483333    0.483333    0.486667

In [13]:
########### Question 4 ###########

# load data
data1 = pd.read_csv('hwk2_datasets/DS2_c1_m1.txt', sep=",", header=None)
data2 = pd.read_csv('hwk2_datasets/DS2_c1_m2.txt', sep=",", header=None)
data3 = pd.read_csv('hwk2_datasets/DS2_c1_m3.txt', sep=",", header=None)
data4 = pd.read_csv('hwk2_datasets/DS2_c2_m1.txt', sep=",", header=None)
data5 = pd.read_csv('hwk2_datasets/DS2_c2_m2.txt', sep=",", header=None)
data6 = pd.read_csv('hwk2_datasets/DS2_c2_m3.txt', sep=",", header=None)
data7 = pd.read_csv('hwk2_datasets/DS2_Cov1.txt', sep=",", header=None)
data8 = pd.read_csv('hwk2_datasets/DS2_Cov2.txt', sep=",", header=None)
data9 = pd.read_csv('hwk2_datasets/DS2_Cov3.txt', sep=",", header=None)

c1_m1 = data1.values
c1_m2 = data2.values
c1_m3 = data3.values
c2_m1 = data4.values
c2_m2 = data5.values
c2_m3 = data6.values
cov1 = data7.values
cov2 = data8.values
cov3 = data9.values

c1_m1 = np.delete(c1_m1,-1,1)
c1_m2 = np.delete(c1_m2,-1,1)
c1_m3 = np.delete(c1_m3,-1,1)
c2_m1 = np.delete(c2_m1,-1,1)
c2_m2 = np.delete(c2_m2,-1,1)
c2_m3 = np.delete(c2_m3,-1,1)
cov1 = np.delete(cov1,-1,1)
cov2 = np.delete(cov2,-1,1)
cov3 = np.delete(cov3,-1,1)

c1_m1 = np.squeeze(c1_m1)
c1_m2 = np.squeeze(c1_m2)
c1_m3 = np.squeeze(c1_m3)
c2_m1 = np.squeeze(c2_m1)
c2_m2 = np.squeeze(c2_m2)
c2_m3 = np.squeeze(c2_m3)
cov1 = np.squeeze(cov1)
cov2 = np.squeeze(cov2)
cov3 = np.squeeze(cov3)

In [14]:
# generate dataset 2
neg = np.ones(shape=(1,20))
pos = np.ones(shape=(1,20))

for i in range(2000):
    choice = np.random.choice(np.arange(1,4), p = [0.1, 0.42, 0.48])

    if choice is 1:
        neg = np.vstack((neg,datagen(c1_m1,cov1,1)))
    elif choice is 2:
        neg = np.vstack((neg,datagen(c1_m2,cov2,1)))
    else:
        neg = np.vstack((neg,datagen(c1_m3,cov3,1)))

for i in range(2000):
    choice = np.random.choice(np.arange(1,4), p = [0.1, 0.42, 0.48])
    
    if choice is 1:
        pos = np.vstack((pos,datagen(c2_m1,cov1,1)))
    elif choice is 2:
        pos = np.vstack((pos,datagen(c2_m2,cov2,1)))
    else:
        pos = np.vstack((pos,datagen(c2_m3,cov3,1)))

neg = np.delete(neg,(0),axis=0)
pos = np.delete(pos,(0),axis=0)

nlabel = np.full((neg.shape[0],1),-1000)
plabel = np.full((pos.shape[0],1),1000)

neg = np.hstack((neg, nlabel))
pos = np.hstack((pos, plabel))

In [15]:
# save data
np.random.shuffle(neg)
np.random.shuffle(pos)

DS2_train = np.concatenate((neg[300:],pos[300:]))
DS2_test = np.concatenate((neg[0:300],pos[0:300]))

np.savetxt("hwk2_datasets/DS2/DS2_train.csv",DS2_train,delimiter=",")
np.savetxt("hwk2_datasets/DS2/DS2_test.csv",DS2_test,delimiter=",")

In [16]:
########### Question 5 ###########

# load data
data1 = pd.read_csv("hwk2_datasets/DS2/DS2_train.csv", header=None)
data2 = pd.read_csv("hwk2_datasets/DS2/DS2_test.csv", header=None)

train = data1.values
test = data2.values

np.random.shuffle(train)
np.random.shuffle(test)

# x and y values
x_train = train[:,0:-1]
y_train = train[:,-1]
x_test = test[:,0:-1]
y_test = test[:,-1]

In [17]:
# LDA analysis
# determine P(y1), P(y2), mean1, mean2, and covariance

# P(y)
pneg = y_train[y_train < 0].size / y_train.size
ppos = y_train[y_train > 0].size / y_train.size

# means
mneg = np.mean(x_train[np.where(y_train < 0)], axis=0)
mpos = np.mean(x_train[np.where(y_train > 0)], axis=0)

# covariance
cneg = np.divide(np.matmul(np.subtract(x_train[np.where(y_train < 0)], mneg).T,np.subtract(x_train[np.where(y_train < 0)], mneg)),(x_train.shape[0]))
cpos = np.divide(np.matmul(np.subtract(x_train[np.where(y_train > 0)], mpos).T,np.subtract(x_train[np.where(y_train > 0)], mpos)),(x_train.shape[0]))
tcov = np.add(cneg,cpos)

mresults_LDA = np.array((mneg,mpos))
df = pd.DataFrame(mresults_LDA)
df.index = ['Neg Mean', 'Pos Mean']
display(df)

cresults_LDA = np.array(tcov)
df = pd.DataFrame(cresults_LDA)
print('Covariance:')
display(df)

# save coefficients
name = 'hwk2_datasets/DS2/m0.csv'
np.savetxt(name, mneg, delimiter=',')

name = 'hwk2_datasets/DS2/m1.csv'
np.savetxt(name, mpos, delimiter=',')

name = 'hwk2_datasets/DS2/cov.csv'
np.savetxt(name, tcov, delimiter=',')

# decision on test dataset
decision_test = np.log(pneg) - np.log(ppos) - 0.5*np.matmul((np.matmul(mneg.T,np.linalg.inv(tcov))),mneg) + 0.5*np.matmul((np.matmul(mpos.T,np.linalg.inv(tcov))),mpos) + np.matmul(np.matmul(x_test,np.linalg.inv(tcov)),np.subtract(mneg,mpos))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Neg Mean,1.332136,1.338151,1.287715,1.322146,1.332701,1.294575,1.280043,1.337644,1.283788,1.289719,1.317666,1.304762,1.317773,1.246039,1.351762,1.321605,1.283548,1.355519,1.320227,1.351270
Pos Mean,0.471605,0.427126,0.436178,0.472670,0.506994,0.428815,0.413752,0.462324,0.469284,0.423071,0.524831,0.529558,0.486062,0.312659,0.468981,0.504292,0.379148,0.526678,0.424092,0.441901

Covariance:

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,6.265202,4.050739,3.803181,3.999991,2.186500,4.473926,5.010288,4.265829,4.585036,4.698927,4.995975,3.671760,4.122808,5.374890,4.399767,3.881740,4.837069,4.041632,5.268622,4.620127
1,4.050739,6.639841,4.952853,5.040071,4.588611,5.287469,5.975873,4.764086,4.491396,4.361925,4.033252,3.986396,4.592943,6.070094,5.456251,5.458291,5.093947,4.539077,6.299655,5.080976
2,3.803181,4.952853,8.178677,5.951707,4.611097,5.202664,7.420930,4.428973,5.458889,5.809906,5.204590,5.891036,5.503238,7.252668,6.123378,5.079160,6.460305,3.907329,7.480845,6.461607
3,3.999991,5.040071,5.951707,6.593253,3.635560,5.108052,6.914001,4.863941,5.465328,5.394998,4.935089,4.607409,4.802280,5.677493,5.658333,5.211456,5.961361,4.847961,6.356838,6.302980
4,2.186500,4.588611,4.611097,3.635560,5.092249,3.995263,4.758652,3.538488,3.262965,3.286655,3.116065,3.828331,3.151147,4.179112,4.919605,4.096228,3.399843,3.522014,5.882606,4.070807
5,4.473926,5.287469,5.202664,5.108052,3.995263,7.274299,6.469132,5.112586,5.608359,5.199873,4.016162,4.019401,4.421928,6.569813,5.453635,5.316766,5.574127,4.749435,6.999938,6.052945
6,5.010288,5.975873,7.420930,6.914001,4.758652,6.469132,9.237953,5.958683,6.915710,6.529238,6.212562,5.768106,6.179672,7.549444,6.536117,6.260292,7.019847,5.692675,8.547136,6.989527
7,4.265829,4.764086,4.428973,4.863941,3.538488,5.112586,5.958683,5.144845,4.922485,4.203275,3.901897,3.847469,3.922262,4.869446,4.804615,4.724466,4.864494,5.043185,5.937996,4.947871
8,4.585036,4.491396,5.458889,5.465328,3.262965,5.608359,6.915710,4.922485,7.073886,5.038767,4.612637,4.599417,4.280212,5.807357,5.209838,4.820486,5.374862,4.865518,5.521094,5.248999
9,4.698927,4.361925,5.809906,5.394998,3.286655,5.199873,6.529238,4.203275,5.038767,6.920219,4.663970,4.435581,5.309291,6.382975,5.540983,4.712378,5.692355,3.851471,7.166667,5.360991
10,4.995975,4.033252,5.204590,4.935089,3.116065,4.016162,6.212562,3.901897,4.612637,4.663970,6.505235,4.757510,4.669716,5.252911,5.183733,4.316145,5.254028,3.983864,6.188814,5.435932
11,3.671760,3.986396,5.891036,4.607409,3.828331,4.019401,5.768106,3.847469,4.599417,4.435581,4.757510,5.621213,4.291629,5.244317,5.340769,4.400118,4.995398,4.009459,6.046698,4.969409
12,4.122808,4.592943,5.503238,4.802280,3.151147,4.421928,6.179672,3.922262,4.280212,5.309291,4.669716,4.291629,6.032665,5.931691,5.550115,4.691529,5.087708,3.787048,6.419601,5.224660
13,5.374890,6.070094,7.252668,5.677493,4.179112,6.569813,7.549444,4.869446,5.807357,6.382975,5.252911,5.244317,5.931691,9.435675,6.337433,5.261499,7.376556,3.914463,7.498183,6.679851
14,4.399767,5.456251,6.123378,5.658333,4.919605,5.453635,6.536117,4.804615,5.209838,5.540983,5.183733,5.340769,5.550115,6.337433,7.444934,5.330518,5.632902,4.958914,7.067939,6.144821
15,3.881740,5.458291,5.079160,5.211456,4.096228,5.316766,6.260292,4.724466,4.820486,4.712378,4.316145,4.400118,4.691529,5.261499,5.330518,5.618602,4.811076,5.152720,6.584557,5.022825
16,4.837069,5.093947,6.460305,5.961361,3.399843,5.574127,7.019847,4.864494,5.374862,5.692355,5.254028,4.995398,5.087708,7.376556,5.632902,4.811076,7.377321,4.162571,6.657627,6.568122
17,4.041632,4.539077,3.907329,4.847961,3.522014,4.749435,5.692675,5.043185,4.865518,3.851471,3.983864,4.009459,3.787048,3.914463,4.958914,5.152720,4.162571,6.100338,5.544086,4.512015
18,5.268622,6.299655,7.480845,6.356838,5.882606,6.999938,8.547136,5.937996,5.521094,7.166667,6.188814,6.046698,6.419601,7.498183,7.067939,6.584557,6.657627,5.544086,10.464238,7.268617
19,4.620127,5.080976,6.461607,6.302980,4.070807,6.052945,6.989527,4.947871,5.248999,5.360991,5.435932,4.969409,5.224660,6.679851,6.144821,5.022825,6.568122,4.512015,7.268617,7.967251

In [18]:
# test
decision_test[decision_test > 0] = 1
decision_test[decision_test < 0] = -1
decision_test[decision_test == 1] = -1000
decision_test[decision_test == -1] = 1000

y_tp = np.array(y_test)
y_tp[y_tp == 1000] = 5000
results_tp = y_tp - decision_test

y_fp = np.array(y_test)
y_fp[y_fp == 1000] = 0
results_fp = y_fp - decision_test

y_tn = np.array(y_test)
y_tn[y_tn == -1000] = -5000
results_tn = y_tn - decision_test

y_fn = np.array(y_test)
y_fn[y_fn == -1000] = 0
results_fn = y_fn - decision_test

In [19]:
# error measures

tp = (results_tp == 4000).sum(axis=0)
fp = (results_fp == -2000).sum(axis=0)
tn = (results_tn == -4000).sum(axis=0)
fn = (results_fn == 2000).sum(axis=0)

accuracy = (tp + tn) / (tp + fp + tn + fn)
precision = tp / (tp + fp)
recall = tp / (tp + fn)
f1 = fp / (fp + tn)

results = np.array((tp,fp,tn,fn,accuracy,precision,f1))
df = pd.DataFrame(results)
df.columns = ['LDA']
df.index = ['tp','fp','tn','fn','accuracy','precision','f1']
display(df)

300 0 300 0

             LDA
tp         300.0
fp           0.0
tn         300.0
fn           0.0
accuracy     1.0
precision    1.0
f1           0.0

In [20]:
# kNN
knum_list = [1,3,5,9,15]  # k nearest neighbours list
test_results = np.empty(shape=(len(knum_list),600))

for n in range(len(knum_list)):
    knum = knum_list[n]
    y_list = []
    for i in range(x_test.shape[0]):
        current = x_test[i]
        y_slist = []
        min_index = []
        index = 0

        for j in range(knum):
            dtemp = 1000
            for k in range(x_train.shape[0]):
                if k in min_index:
                    continue

                d = distance(current,x_train[k])

                if dtemp > d:
                    dtemp = d
                    index = k
                    continue

            min_index.append(index)
            y_slist.append(y_train[index])

        num = sum(y_slist)
        if num > 0:
            y_list.append(1000)
        else:
            y_list.append(-1000)
    
    y_list = np.array(y_list)
    test_results[n] = y_list

In [21]:
# test
results_tp = np.empty(shape=(len(knum_list),600))
results_fp = np.empty(shape=(len(knum_list),600))
results_tn = np.empty(shape=(len(knum_list),600))
results_fn = np.empty(shape=(len(knum_list),600))

for i in range(len(knum_list)):
    y_tp = np.array(y_test)
    y_tp[y_tp == 1000] = 5000
    results_tp[i] = y_tp - test_results[i]

    y_fp = np.array(y_test)
    y_fp[y_fp == 1000] = 0
    results_fp[i] = y_fp - test_results[i]

    y_tn = np.array(y_test)
    y_tn[y_tn == -1000] = -5000
    results_tn[i] = y_tn - test_results[i]

    y_fn = np.array(y_test)
    y_fn[y_fn == -1000] = 0
    results_fn[i] = y_fn - test_results[i]

In [22]:
# error measures
tp = []
fp = []
tn = []
fn = []

accuracy = []
precision = []
recall = []
f1 = []

for i in range(len(knum_list)):
    tp.append((results_tp[i] == 4000).sum(axis=0))
    fp.append((results_fp[i] == -2000).sum(axis=0))
    tn.append((results_tn[i] == -4000).sum(axis=0))
    fn.append((results_fn[i] == 2000).sum(axis=0))

    accuracy.append((tp[i] + tn[i]) / (tp[i] + fp[i] + tn[i] + fn[i]))
    precision.append(tp[i] / (tp[i] + fp[i]))
    recall.append(tp[i] / (tp[i] + fn[i]))
    f1.append(fp[i] / (fp[i] + tn[i]))

results = np.array((tp,fp,tn,fn,accuracy,precision,recall,f1))
df = pd.DataFrame(results)
df.columns=['k=1','k=3','k=5','k=9','k=15']
df.index=['tp','fp','tn','fn','accuracy','precision','recall','f1']
display(df)

                  k=1         k=3         k=5         k=9        k=15
tp         140.000000  145.000000  148.000000  161.000000  167.000000
fp         146.000000  140.000000  138.000000  133.000000  130.000000
tn         154.000000  160.000000  162.000000  167.000000  170.000000
fn         160.000000  155.000000  152.000000  139.000000  133.000000
accuracy     0.490000    0.508333    0.516667    0.546667    0.561667
precision    0.489510    0.508772    0.517483    0.547619    0.562290
recall       0.466667    0.483333    0.493333    0.536667    0.556667
f1           0.486667    0.466667    0.460000    0.443333    0.433333